<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<link rel="icon" 
      type="image/png" 
      href="{{=URL('static', 'favicon.png')}}" />
<title>Recipedia - A recipe storage &amp; sharing app</title>
<link href="{{=URL('static', 'css/mobile_style.css')}}" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Rokkitt:700' rel='stylesheet' type='text/css'>
    {{include 'web2py_ajax.html'}}
</head>

<body>
    <div id="page_container">
        <div id="top_nav">
            <div class="leftButton">
                <a href="{{=URL('mobile','index')}}" >Home</a>
            </div>
        </div>
        <div id="header">
            <center><a href="{{=URL('mobile','index')}}" ><img alt="Recipedia" src="{{=URL('static', 'images/logo.png')}}" width="247" height="51" /></a></center>
        </div>
        <div id="content">
            {{include}}
        </div>
        <div id="footer">
        Created by Programmers Annonymous, Fall 2011.<br />
        CS 307 - Software Engineering, Purdue University.
        </div>
    </div>
</body>
</html>
